.idea
*.iml
out
gen
vendor
*.txt
bin/
coverage/
!bin\*

node_modules/
web-client/node_modules/

game-service/bin
game-service/.gradle
game-service/.settings

mobile-client/bin
mobile-client/.gradle
mobile-client/.settings

user-service/bin
user-service/.gradle
user-service/.settings
*.log
